.root {
  background: #f5f5f5;
  min-height: calc(100vh - 60px - 190px); 
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 18px;
  padding-bottom: 40px;
}

.inner {
  z-index: 2;
}

.card {
  background: #ffffff;
  border-radius: 14px;
  padding: 50px 60px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 60px;
  justify-content: space-between;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.heading {
  font-size: 46px;
  font-weight: 900;
  color: #222;
}

.subtext {
  font-size: 18px;
  line-height: 1.5;
  color: #444;
  max-width: 420px;
}

.infoGroup {
  margin-top: 10px;
}

.label {
  font-size: 14px;
  font-weight: 900;
  color: #ff4040;
  margin-bottom: 4px;
}

.info {
  font-size: 18px;
  font-weight: 600;
  color: #222;
}

.address {
  font-size: 18px;
  font-weight: bold;
  color: #ff4040;
}

.address a {
  color: #ff4040;
  text-decoration: none;
}

.address a:hover {
  text-decoration: underline;
}

.form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.input input {
  padding: 14px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
}

.textarea textarea {
  padding: 14px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
}

.submit {
  background: #ff4040;
  font-size: 18px;
  font-weight: 900;
  padding: 14px 6;
  border-radius: 10px;
  color: white;
  margin-top: 10px;
  transition: 0.25s ease;
}

.submit:hover {
  background: #b30000;
  transform: scale(1.03);
}

.mapWrapper {
  width: 100%;
  height: 170px;
  border-radius: 12px;
  overflow: hidden;
  margin-top: 20px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

@media (max-width: 768px) {
  .card {
    flex-direction: column;
    padding: 40px;
  }

  .heading {
    font-size: 38px;
  }
}
