.header {
  width: 100%;
  background-color: #1f1f1f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.logoText {
  font-size: 18px;
  font-weight: 900;
  color: #ff2a2a; 

  font-family: "Montserrat", sans-serif; 
  letter-spacing: 1px;
  text-transform: uppercase;

  -webkit-text-stroke: 0.8px rgb(0, 0, 0);

  text-shadow:
    0px 1px 2px rgba(76, 76, 76, 0.45),
    0px 0px 6px rgba(48, 48, 48, 0.25);

  cursor: pointer;
}


.nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.link {
  color: white;
  font-weight: 600;
  text-decoration: none;
  transition: 0.25s;
}

.link:hover {
  color: red;
}

.active {
  color: red !important;
}

.dropdownBtn {
  background: none;
  border: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 0.25s;
}

.dropdownBtn:hover {
  color: red;
}

.dropdownContainer {
  position: relative;
}

.servicesDropdown {
  position: absolute;
  top: 100%;
  right: -40px;
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  max-height: 400px;
  overflow-y: auto;
  padding: 10px 0;
  border-radius: 4px;
  z-index: 99999;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.servicesItem {
  color: white;
  font-weight: 700;
  padding: 8px 20px;
  cursor: pointer;
  transition: 0.25s;
}

.servicesItem:hover {
  color: red;
  background-color: #2a2a2a;
}

.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
}

.hamburger span {
  width: 28px;
  height: 3px;
  background: white;
  border-radius: 4px;
  transition: 0.3s ease;
}

.sidebar {
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  width: 260px;
  height: 100vh;
  background: #1b1b1b;
  padding: 40px 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  transition: transform 0.35s ease;
  z-index: 99999;
  overflow-y: auto;
}

.sidebar.open {
  transform: translateX(0);
  pointer-events: auto;
}


.sidebar.open {
  left: 0;
}

.sidebarLink {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s;
}

.sidebarLink:hover {
  color: red;
}

.sidebarActive {
  color: red !important;
}

.sidebarDropdownBtn {
  background: none;
  border: none;
  font-size: 18px;
  font-weight: 700;
  color: white;
  text-align: left;
  cursor: pointer;
  padding: 0;
}

.sidebarDropdownMenu {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  gap: 8px;
  margin-top: 6px;
}

.sidebarDropdownItem {
  font-size: 16px;
  font-weight: 600;
  color: #dcdcdc;
  cursor: pointer;
}

.sidebarDropdownItem:hover {
  color: red;
}

.closeBtn {
  font-size: 32px;
  color: white;
  cursor: pointer;
  margin-bottom: 20px;
  align-self: flex-end;
}

@media (max-width: 1024px) {
  .nav {
    display: none !important;
  }

  .hamburger {
    display: flex !important;
  }

  .sidebar {
    display: flex !important;
  }
}

@media (max-width: 575px) {
  .sidebar {
    width: 260px;
    padding: 40px 24px;
  }

  .sidebarLink {
    font-size: 18px;
  }

  .sidebarDropdownItem {
    font-size: 16px;
  }
}
