.root {
  width: 100%;
  background: white;
  padding: 60px 0;
  position: relative;
  overflow: hidden;
}

.root::before,
.root::after {
  content: "";
  position: absolute;
  width: 650px;
  height: 650px;
  border-radius: 50%;
  background: rgba(255, 0, 0, 0.12);
  filter: blur(45px);
  z-index: 1;
}

.root::before {
  top: -300px;
  right: -238px;
}

.root::after {
  bottom: -280px;
  left: -200px;
}
.inner {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.logoSection {
  flex: 1;
}

.logo {
  width: 260px;
  height: auto;
}

.quickLinks {
  flex: 1;
}

.heading {
  font-size: 26px;
  font-weight: 900;
  letter-spacing: 1px;
  color: #252525;
  margin-bottom: 18px;
  text-transform: uppercase;
}

.link {
  font-size: 19px;
  font-weight: 700;
  color: #1b1b1b;
  margin-bottom: 6px;
  cursor: pointer;
}

.link:hover {
  color: #d40000;
}

.storeColumn {
  flex: 1;
}

.infoRow {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  margin-bottom: 22px;
}


.address {
  font-size: 20px;
  font-weight: bold;
  color: #ff4040;
}

.address a {
  color: #ff4040;
  text-decoration: none;
}

.address a:hover {
  text-decoration: underline;
}

.icon {
  width: 26px;
  height: 26px;
  color: #ff1c1c;
}

.infoText {
  font-size: 20px;
  font-weight: 800;
  color: #2a2a2a;
  line-height: 1.35;
}

.infoRowPhone {
  display: flex;
  align-items: center;
  gap: 12px;
}

.iconPhone {
  width: 26px;
  height: 26px;
  color: #ff1c1c;
}

.phone {
  font-size: 24px;
  font-weight: 900;
  color: #1c1c1c;
}

.bottomBar {
  margin-top: 60px;
  width: 100%;
  padding: 16px 0;
  background: #f4f4f4;
  text-align: center;
}

.bottomText {
  font-size: 15px;
  font-weight: 600;
  color: #373737;
}
