html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
}

#root {
  max-width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  text-align: left !important;
  display: block;
}
